/* 
Tripoli Reset
http://devkick.com/lab/tripoli/
*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
} /* we don't need a visual hr in layout */
/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

body {
  font-family: "Bitter", serif;
  color: #DCDCDC;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  min-width: 0;
  background-color: #111111;
}

.__container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: content-box;
}

.header {
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.5) 0%, rgba(17, 17, 17, 0) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100px;
}
.header__logo {
  font-size: 32px;
  font-weight: 600;
}

.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.menu__item {
  padding-right: 15px;
}
.menu__item:last-child {
  padding-right: 0;
}
.menu__link {
  font-size: 24px;
}
.menu__link-drop {
  position: relative;
  padding-left: 20px;
}
.menu__link-drop::after, .menu__link-drop::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: rgba(220, 220, 220, 0.75);
  position: absolute;
  top: 15px;
  transition: all 0.3s;
}
.menu__link-drop::before {
  transform: rotate(40deg);
  left: 0;
}
.menu__link-drop::after {
  transform: rotate(-40deg);
  left: 6px;
}
.menu__item:hover .menu__link-drop::before {
  background-color: gainsboro;
  transform: rotate(-40deg);
  transition: all 0.3s;
}
.menu__item:hover .menu__link-drop::after {
  background-color: gainsboro;
  transform: rotate(40deg);
  transition: all 0.3s;
}
.menu__sub-list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  font-size: 24px;
}
.menu__item:hover .menu__sub-list {
  visibility: visible;
  opacity: 1;
}
.menu__sub-link {
  display: block;
  padding-top: 10px;
}

.mobile-back {
  display: none;
}

.burger {
  display: none;
}

@media (max-width: 728px) {
  .burger {
    width: 40px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border: none;
    display: block;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #DCDCDC;
  }
  .burger::after {
    top: auto;
    bottom: 0;
  }
  .burger span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    display: inline-block;
    background-color: #DCDCDC;
  }
  .burger__open::before, .burger__open::after {
    background-color: #111111;
    top: 50%;
  }
  .burger__open span {
    opacity: 0;
  }
  .burger__open::before {
    transform: rotate(45deg);
  }
  .burger__open::after {
    transform: rotate(-45deg);
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #111111;
    background-color: #DCDCDC;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    opacity: 0;
  }
  .menu__list, .menu__sub-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .menu__item, .menu__sub-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #111111;
  }
  .menu__item:last-child {
    border-bottom: 0px solid #111111;
  }
  .menu__sub-list-item {
    border: none;
    padding: 10px 0 0 0;
  }
  .menu__link {
    font-size: 32px;
    font-weight: 600;
  }
  .menu__item-drop {
    display: flex;
    flex-direction: column;
  }
  .menu__link-drop {
    padding-left: 0;
  }
  .menu__link-drop::after, .menu__link-drop::before {
    display: none;
  }
  .menu__sub-list {
    position: relative;
    background: #DCDCDC;
    opacity: 1;
    visibility: visible;
  }
  .menu__open {
    opacity: 1;
  }
  .burger, .burger span, .burger__open::before, .burger__open::after, .menu {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  }
}
main {
  flex: 1 1 auto;
}

.about {
  position: relative;
  min-height: 100vh;
  background-image: url(/source/background/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  font-size: 32px;
  font-weight: 500;
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}
.about__text {
  max-width: 600px;
}
.about__text-title-since {
  display: flex;
  align-items: flex-end;
}
.about__text-block {
  display: block;
}
.about__text-title {
  font-size: 64px;
  font-weight: 600;
}
.about__text-since {
  color: rgba(205, 205, 205, 0.75);
  padding-bottom: 5px;
  padding-left: 10px;
}
.about__text-slogan {
  font-size: 18px;
  color: rgba(205, 205, 205, 0.5);
  text-align: center;
  padding-bottom: 20px;
}
.about__text-description {
  text-align: right;
}

@media (max-width: 728px) {
  .about__text {
    max-width: 400px;
  }
  .about__text-title {
    font-size: 32px;
  }
  .about__text-since {
    font-size: 18px;
  }
  .about__text-slogan {
    font-size: 16px;
  }
  .about__text-description {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .about__text {
    max-width: 300px;
  }
  .about__text-title {
    font-size: 24px;
  }
  .about__text-since {
    font-size: 16px;
    padding-bottom: 2px;
    padding-left: 5px;
  }
  .about__text-slogan {
    font-size: 14px;
  }
  .about__text-description {
    font-size: 16px;
  }
}
.director {
  position: relative;
  min-height: 100vh;
  background-image: url(/source/background/director.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  font-weight: 500;
}
.director__container {
  padding: 200px 20px;
}
.director__content {
  padding-top: 100px;
  display: flex;
}
.director__title {
  font-size: 64px;
  text-align: center;
}
.director__text {
  max-width: 700px;
  max-height: 578px;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-right: 20px;
}
.director__name {
  font-size: 48px;
  text-align: right;
  padding: 40px 40px 0px;
}
.director__description {
  font-size: 32px;
  padding: 40px;
}
.director__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 74px;
}

@media (max-width: 1200px) {
  .director__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .director__text {
    max-width: none;
    max-height: none;
    margin-right: none;
    margin-bottom: 20px;
  }
}
@media (max-width: 728px) {
  .director__container {
    padding: 100px 20px;
  }
  .director__title {
    font-size: 48px;
  }
  .director__text {
    margin-bottom: 20px;
  }
  .director__name {
    font-size: 32px;
    text-align: right;
  }
  .director__description {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .director__container {
    padding: 100px 20px;
  }
  .director__title {
    font-size: 32px;
  }
  .director__name {
    font-size: 24px;
    text-align: right;
    padding: 20px 20px 0px;
  }
  .director__description {
    font-size: 18px;
    padding: 20px;
  }
}