@import "importCss/ResetCss.scss";

$white: #DCDCDC;
$gray: #CDCDCD;
$black: #111111;

body{ font-family: 'Bitter', serif; color: $white; }
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	min-width: 0;
  background-color: $black;
}
.body__open{ overflow: hidden; }
.__container{
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: content-box;
}


// HEADER
.header {
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.50) 0%, rgba(17, 17, 17, 0.00) 100%);
  backdrop-filter: blur(5px);
  position: fixed;
	width: 100%;
	left: 0;
	top: 0;
  z-index: 10;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 100px;
  }
  &__logo {
    font-size: 32px;
    font-weight: 600;
  }
  &__scroll{
    top: -100px;
    transition: all 0.2s;
  }
  transition: all 0.2s;
}
.menu {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  &__item {
    padding-right: 15px;
  }
  &__item:last-child {
    padding-right: 0;
  }
  &__link {
    font-size: 24px;
  }

  &__link-drop{
    position: relative;
    padding-left: 20px;
  }
  &__link-drop::after, &__link-drop::before{
    content: '';
    width: 8px; height: 1px;
    background-color: rgba($color: $white, $alpha: 0.75);
    position: absolute;
    top: 15px;
    transition: all 0.3s;
  }
  &__link-drop::before{
    transform: rotate(40deg);
    left: 0;
  }
  &__link-drop::after{
    transform: rotate(-40deg);
    left: 6px;
  }
  &__item:hover &__link-drop::before{
    background-color: rgba($color: $white, $alpha: 1);
    transform: rotate(-40deg);
    transition: all 0.3s;
  }
  &__item:hover &__link-drop::after{
    background-color: rgba($color: $white, $alpha: 1);
    transform: rotate(40deg);
    transition: all 0.3s;
  }


  &__sub-list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    font-size: 24px;
  }
  &__item:hover &__sub-list{
    visibility: visible;
    opacity: 1;
  }
  &__sub-link {
    display: block;
    padding-top: 10px;
  }
}
.mobile-back {
  display: none;
}
.burger {
  display: none;
}
@media(max-width: 728px){
  .header{
    &__container{
      min-height: 50px;
    }
    &__logo {
      font-size: 24px;
      font-weight: 600;
    }
    &__scroll{
      top: -50px;
    }
  }
  .burger{
    width: 35px; height: 25px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border: none;
    display: block;
  }
  .burger::before, .burger::after{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 3px;
    background-color: $white;
  }
  .burger::after{
    top: auto; bottom: 0;
  }
  .burger span{
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
    width: 100%; height: 3px;
    display: inline-block;
    background-color: $white;
  }
  .burger__open::before, .burger__open::after{ background-color: $black; top: 50%; }
  .burger__open span{ opacity: 0; }
  .burger__open::before{ transform: rotate(45deg);}
  .burger__open::after{ transform: rotate(-45deg);}

  .menu{
    position: fixed;
    left: 0; top: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; height: 100vh;
    color: $black;
    background-color: $white;
    backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    display: none;

    &__list, &__sub-list{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }

    &__item, &__sub-list-item{
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      padding: 20px 0px;
      border-bottom: 1px solid $black;
    }
    &__item:last-child{ border-bottom: 0px solid $black; }
    &__sub-list-item{ 
      border: none;
      padding: 10px 0 0 0;
    }
    &__link{ font-size: 32px; font-weight: 600; }
    &__item-drop{
      display: flex;
      flex-direction: column;
    }
    &__link-drop{ padding-left: 0; padding-bottom: 5px; }
		&__link-drop::after, &__link-drop::before{ display: none; }
    &__sub-list{
      position: relative;
      background: $white;
      opacity: 1;
      visibility: visible;
    }
    &__open{opacity: 1; visibility: visible; display: flex;}
	}
  .burger, .burger span, .burger__open::before, .burger__open::after, .menu{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  }
}


main{
  flex: 1 1 auto;
}
// ABOUT
.about {
    position: relative;
    min-height: 100vh;
    
    background-image: url(/source/background/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: 1;
    font-size: 32px;
    font-weight: 500;
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
  }
  &__text{
    max-width: 600px;
  }
  &__text-title-since{
    display: flex;
    align-items: flex-end;
  }
  &__text-block{ display: block; }
  &__text-title { font-size: 64px; font-weight: 600; }
  &__text-since { 
    color: rgba($color: $gray, $alpha: 0.75); 
    padding-bottom: 5px;
    padding-left: 10px;
  }
  &__text-slogan {
    font-size: 18px;
    color: rgba($color: $gray, $alpha: 0.50);
    text-align: center;
    padding-bottom: 20px;
  }
  &__text-description{  text-align: right; }
}
@media(max-width: 1200px) {
}
@media(max-width: 728px){
  .about {
    &__text{ max-width: 400px;}
    &__text-title { font-size: 32px; }
    &__text-since { font-size: 18px;}
    &__text-slogan { font-size: 16px; }
    &__text-description{  font-size: 24px; }
  }
}
@media(max-width: 480px){
  .about {
    &__text{ max-width: 300px;}
    &__text-title { font-size: 24px; }
    &__text-since { font-size: 16px; padding-bottom: 2px; padding-left: 5px;}
    &__text-slogan { font-size: 14px; }
    &__text-description{  font-size: 16px; }
  }
}


// DIRECTOR
.director {
  position: relative;
  min-height: 100vh;
  
  background-image: url(/source/background/director.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: 1;
  font-weight: 500;
  &__container { padding: 200px 20px; }
  &__content{
    padding-top: 100px;
    display: flex;
  }
  &__title { font-size: 64px; text-align: center;}
  &__text {
    max-width: 700px;
    max-height: 578px;
    border-radius: 30px;
    background: rgba($color: $black, $alpha: 0.3);
    backdrop-filter: blur(5px);
    margin-right: 20px;
  }
  &__name { font-size: 48px; text-align: right; padding: 40px 40px 0px; }
  &__description { font-size: 32px; padding: 40px;}
  &__img {
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }
}
@media(max-width: 1200px) {
  .director {
    &__content{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text {
      max-width: none;
      max-height: none;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
@media(max-width: 728px){
  .director {
    &__container { padding: 100px 20px; }
    &__title { font-size: 48px;}
    &__text{ margin-bottom: 20px;}
    &__name { font-size: 32px; text-align: right; }
    &__description { font-size: 24px;}
  }
}
@media(max-width: 480px){
  .director {
    &__container { padding: 100px 20px; }
    &__title { font-size: 32px; }
    &__name { font-size: 24px; text-align: right; padding: 20px 20px 0px; }
    &__description { font-size: 18px; padding: 20px;}
  }
}

// REGALIA
.regalia {
  position: relative;
  background-image: url(../source/background/regalia.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container{
    padding: 200px 20px;
  }
  &__title {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
  }
  &__content{
    margin: 100px 50px 50px;
    overflow: hidden;
  }

  &__information{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  &__video{
    height: 750px;
    video{
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }
  &__text{
    max-width: 700px;
    max-height: 620px;
    border-radius: 30px;
    background: rgba($color: $black, $alpha: 0.3);
    backdrop-filter: blur(5px);
    margin-left: 20px;
    text-align: right;
  }
  &__description{
    font-size: 32px; 
    padding: 40px;
  }
}
@media(max-width: 1200px) {
  .regalia{  
    &__container { padding: 200px 20px; }
    &__content{
      margin: 50px 25px 50px;
      overflow: hidden;
    }

    &__information{
      flex-direction: column-reverse;
      align-items: center;
    }
    &__text{ margin-bottom: 20px;}
    &__text{
      max-width: none;
      margin-left: 0;
    }
    &__video {
      max-width: none;
      max-height: none;
      margin-right: 0;
      margin-bottom: 20px;
      text-align: left;
      width: 700px;
    }
    &__img{
      height: 450px;
      width: 600px;
    }
  }
}
@media(max-width: 728px){
  .regalia{
    &__container { padding: 100px 20px; }
    &__title { font-size: 48px;}
    &__description { font-size: 24px;}
    &__video{
        max-height: 450px;
        width: 100%;
    }
    &__content{
      margin: 25px 25px 50px;
    }
  }

}
@media(max-width: 480px){
  .regalia {
    &__container { padding: 100px 20px; }
    &__title { font-size: 32px; }
    &__description { font-size: 18px; padding: 20px;}
    &__video{
      width: 100%;
    }
  }
}
// DIRECTIONS
.directions {
  position: relative;
  background-image: url(../source/background/directions.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container{
    padding: 200px 0;
  }
  &__title {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
  }
  &__content{
    margin: 100px 50px 50px;
    overflow: hidden;
  }
}
.slider {
  display: flex;
  flex-direction: row;
}
.card {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background: rgba($color: $black, $alpha: 0.3);
    backdrop-filter: blur(5px);
  }
  &__image {
    padding: 0 40px;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 30px;
    }
    &-regalia{
      margin: 30px 0;
    }
  }
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding: 40px 0;
  }
  &__description{
    padding: 20px 20px 40px;
    font-size: 24px;
  }
  &-regalia{
    
  }
}
.swiper-button-next:after,.swiper-button-prev:after {
  font-size: 0px;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
  height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
  background: $white;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, .9);
}
@media(max-width: 1200px) {
  .directions{  
    &__content{
      margin: 100px 25px 50px;
      overflow: hidden;
    }
  }
  .card{
    &__image{
      max-width: 400px;
      padding: 0 20px;
    }
  }
}
@media(max-width: 728px){
  .swiper-button-next,.swiper-button-prev {
    display: none;
    font-size: 0px;
  }
  .card{
    &__description{ font-size: 24px; }
    &__image{ max-width: 400px; }
    &__description{ max-width: 400px; }
  }
  .directions{
    &__title { font-size: 48px; }
    &__container{  padding: 100px 0; }
  }

}
@media(max-width: 480px){
  .directions{
    &__title { font-size: 32px; }
    &__description{
      padding: 20px 20px 20px;
      font-size: 16px;
    }
    &__content{ margin: 25px 0 50px; }
  }
  .card{
    &__description{ font-size: 18px; }
    &__description{ max-width: 400px; }
  }
}


// TEACHERS
.teachers {
  position: relative;
  background-image: url(../source/background/teachers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__container{
    padding-top: 300px;
    padding-bottom: 200px;
  }
  &__title { 
    padding-bottom: 100px; 
    font-size: 64px; 
    font-weight: 600; 
    text-align: center;
  }
  &__list {
    display: grid;
    justify-items: stretch;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  &__list-item { 
    border-radius: 30px;
    background: rgba($color: $black, $alpha: 0.3);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(.03,.98,.52,.99);
  }
  &__list-item:hover { 
    background: rgba($color: $gray, $alpha: 0.25);
    transition: all 0.2s cubic-bezier(.03,.98,.52,.99);
  }
  &__list-item:active { 
    background: rgba($color: $white, $alpha: 0.25);
    transition: all 0.2s cubic-bezier(.03,.98,.52,.99);
  }
  &__item-img {
    padding: 80px 40px 0;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }
  &__item-description {
    font-size: 32px;
    text-align: center;
    padding: 25px 40px 80px;
  }
}

.teachers-modal {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    position: fixed;
    z-index: 10;
    padding-bottom: 100px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);

    // transition: all 0.3s;
  &__container{ 
    display: flex;
    background-color: rgba($color: $black, $alpha: 0.4);
    border-radius: 30px;
    padding: 40px;
    margin: 0 15px;
  }
  &__close{
    color: $white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s;
    height: 20px;
    width: 30px;
  }
  &__close:hover, &__close:focus {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__item-img {
    max-width: 540px;
    max-height: 400px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 30px;
    }
  }
  &__text{ max-width: 600px; padding-left: 40px; }
  &__item-name {font-size: 48px; font-weight: 600; text-align: center;  padding-bottom: 25px;}
  &__item-description {font-size: 24px;}
  &__open{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
  }
}
@media(max-width: 1200px) {
  .teachers {
    &__container{
      padding-top: 300px;
      padding-bottom: 300px;
    }
    &__list {
      gap: 20px;
    }
    &__item-img {
      padding: 40px 20px 0;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 30px;
      }
    }
    &__item-description {
      font-size: 24px;
      text-align: center;
      padding: 25px 20px 40px;
    }
  }

  .teachers-modal {
    &__container{ padding: 20px; }
    &__text{ max-width: 500px; padding-left: 40px; }
    &__item-name {font-size: 32px; font-weight: 600; text-align: center; padding-bottom: 20px;}
    &__item-description {font-size: 18px;}
  }
}
@media(max-width: 728px){
  .teachers {
    &__container{
      padding-top: 200px;
      padding-bottom: 100px;
    }
    &__title { font-size: 48px; }
    &__list {
      grid-template-columns: 1fr;
    }
  }

  .teachers-modal {
    &__container{flex-direction: column-reverse}
    &__text{ padding-left: 0; padding-bottom: 20px; }
  }
}
@media(max-width: 480px){
  .teachers {
    &__container{
      padding-top: 150px;
      padding-bottom: 100px;
    }
    &__title { font-size: 32px; padding-bottom: 50px;}
    &__list {
      grid-template-columns: 1fr;
    }
  }
  .teachers-modal {
    &__item-name {font-size: 24px; font-weight: 600; text-align: center; padding-bottom: 20px;}
    &__item-description {font-size: 16px;}
  }
}

// CONTACTS
.contacts {
  position: relative;
  background-image: url(../source/background/contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__container {
    padding: 200px 20px;
  }
  &__wrapper{
    background-color: rgba($color: $black, $alpha: 0.3);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    padding: 50px 25px;
  }
  &__title { 
    font-size: 64px; 
    font-weight: 600; 
    text-align: center; 
    padding-bottom: 100px; 
  }
  &__text { font-size: 48px; }
  &__address { 
    font-size: 32px; 
    margin: 25px 0 50px 50px;
  }
  &__map{ 
    display: flex; 
    justify-content: center; 
    padding-bottom: 50px;
  }
  &__map-container{
    max-width: 700px;
    border-radius: 30px;
  }
  &__phone { font-size: 32px; }
}
@media(max-width: 1200px) {
  .contacts {
    &__container { padding: 200px 20px; }
    &__title {  font-size: 64px; padding-bottom: 50px; }
    &__text { font-size: 24px; }
    &__address { font-size: 24px; margin: 25px 0 25px 25px; }
    &__map-container{
      max-width: 600px;
    }
    &__phone { font-size: 18px; }
  }
}
@media(max-width: 728px){
  .contacts {
    &__container { padding: 100px 20px; }
    &__title { font-size: 48px;}
    &__text { font-size: 18px; }
    &__address { font-size: 18px; }
    &__map-container{
      max-width: 400px;
    }
    &__phone { font-size: 16px; }
  }
}
@media(max-width: 480px){
  .contacts {
    &__wrapper{ padding: 25px 25px; }
    &__title {  font-size: 32px;}
    &__address { margin: 25px 0; }
    &__map-container{ max-width: 250px; }
  }
}


// PHOTO
.photo {
  position: relative;
  background-image: url(../source/background/source.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__container { padding: 200px 20px;}
  &__title{     
    font-size: 64px; 
    font-weight: 600; 
    text-align: center; 
    padding-bottom: 100px;  
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 25px;
  }
  &__list--item {
    text-align: center;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    cursor: pointer;
  }
  &__list--item--text {
    border-radius: 30px;
    background: rgba($color: $black, $alpha: 0.25);
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__list--item--title {
    font-size: 32px;
    padding-bottom: 25px;
  }
  &__list--item--data {
    font-size: 24px;
  }
  &__sortby {
    display: flex;
    align-items: center;
    font-size: 24px;
    padding-bottom: 50px;
  }
  &__sortby--text {
    font-size: 24px;
    margin-right: 25px;
  }


  &__sortby--dropdown{
    position: relative;
    display: inline-block;
    transition: opacity 0.3s;
  }
  &__sortby--active{ 
    font-size: 24px;
    cursor: pointer; 
    transition: all 0.3s;
  }

  &__sortby--content{
    position: absolute;
    background: rgba($color: $black, $alpha: 0.3);
    backdrop-filter: blur(4px);
    padding: 15px 25px;
    border-radius: 30px;
    min-width: 200px;
    z-index: 10;
    div{ 
      cursor: pointer; 
      font-size: 18px; 
      display: block; 
      padding-bottom: 5px;
      transition: all 0.3s; 
    }
    div:hover{ 
      font-size: 20px;  
      transition: all 0.3s; 
    }
    display: none;
  }

  &__sortby--dropdown:hover &__sortby--content {
    display: block;
  }
}

.gallery {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba($color: $black, $alpha: 0.25);
  backdrop-filter: blur(5px);
  &__container {
    background: rgba($color: $black, $alpha: 0.5);
    border: solid 3px $gray;
    margin: 200px auto 200px;
    width: 90%; 
    border-radius: 30px;
  }
  &__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    padding: 50px 25px 25px;
  }
  &__close {
    color: $white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
  }
  &__close:hover,&__close:focus {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
  }

  
  &__content {
    display: grid;
    align-items: start;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0 25px 25px;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  &__buttons{
    padding-bottom: 50px;}
  &__buttons--ul{
      display: flex;
      justify-content: center;
      align-items: center;
      li{
        padding-right: 25px;
        cursor: pointer;
      }
  }
  &__active{
    font-size: 32px;
    color: $white;
  }
}
@media(max-width: 1200px) {
  .photo{
    &__container{ padding: 250px 20px; }
    &__list{ grid-template-columns: 1fr 1fr; }
  }
  .gallery{
    &__content {
      grid-template-columns: 1fr;
    }
    &__buttons--ul li{
      padding-right: 15px;
    }
  }

}
@media(max-width: 728px){
  .photo{
    &__container{ padding: 150px 20px; }
    &__title { font-size: 48px; }
    &__list{ grid-template-columns: 1fr; }
    &__list--item{ min-height: 200px; }
    &__sortby--text { font-size: 18px; }
  }
  .gallery{
    &__text{
      font-size: 24px;
    }
  }
}
@media(max-width: 480px){
  .photo{
    &__container{ padding: 100px 20px; }
    &__title { font-size: 32px; }
    &__list--item--title {
      font-size: 24px;
      padding-bottom: 25px;
    }
    &__list--item--data {
      font-size: 18px;
    }
    &__sortby--text {
      margin-right: 5px;
    }
    &__sortby--active{
      font-size: 18px;
    }
    &__sortby--content{
      left: -75px;
      padding: 10px;
    }
  }
}

// VIDEO
.video {
  position: relative;
  background-image: url(../source/background/source.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__container { padding: 200px 20px;}
  &__title{     
    font-size: 64px; 
    font-weight: 600; 
    text-align: center; 
    padding-bottom: 100px;  
  }
  &__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 25px;
    justify-items: center;
    iframe{ width: 100%; height: 500px; border-radius: 30px;}
  }
}
@media(max-width: 1200px) {
  .video{
    &__container{ padding: 250px 20px; }
    &__content{ grid-template-columns: 1fr; }
  }
}
@media(max-width: 728px){
  .video{
    &__container{ padding: 150px 20px; }
    &__title { font-size: 48px; }
    &__content{
      iframe{ width: 100%; height: 350px; }
    }
  }
}
@media(max-width: 480px){
  .video{
    &__container{ padding: 100px 20px; }
    &__title { font-size: 32px; }
  }
}

// FOOTER
.footer {
  position: relative;
  background-color: #070707;
  font-size: 24px;

  &__container { padding: 100px 20px; }
  &__container-list{ display: flex; }
  &__container-list-social{ 
    display: flex; 
    padding-top: 50px;
    align-items: center;
    justify-content: space-between;
  }
  &__list:first-child { padding-right: 100px; }
  &__about { padding: 15px 0px 0px 25px;}
  &__about-link{ padding-bottom: 5px;}
  &__about-link:last-child{ padding-bottom: 0px;}
  &__logo { font-size: 32px; font-weight: 600; }
  &__social { display: flex; }
  &__social-vk {
    display: block;
    width: 50px; height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/source/icon/vk.png);
    margin-right: 30px;
  }
  &__social-inst {
    display: block;
    width: 50px; height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/source/icon/instagram.png);
  }
}
@media(max-width: 1200px) {
  .footer{
    font-size: 18px;
    &__container { padding: 50px 20px; }
    &__list:first-child { padding-right: 50px; } 
    &__logo { font-size: 24px; }
    &__social-inst, &__social-vk{ width: 40px; height: 40px; }
  }
}
@media(max-width: 728px){

}
@media(max-width: 480px){
  .footer{
    font-size: 16px;
    &__list:first-child { padding-right: 25px; } 
    &__container { padding: 25px 20px; }
  }
}