/* 
Tripoli Reset
http://devkick.com/lab/tripoli/
*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn, i, cite, var, address, em {
  font-style: normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td, center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul, ol, dir, menu {
  list-style: none;
}

sub, sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
} /* we don't need a visual hr in layout */
/* disables some nasty font attributes in standard browsers */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

body {
  font-family: "Bitter", serif;
  color: #DCDCDC;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  min-width: 0;
  background-color: #111111;
}

.body__open {
  overflow: hidden;
}

.__container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: content-box;
}

.header {
  background: linear-gradient(180deg, rgba(17, 17, 17, 0.5) 0%, rgba(17, 17, 17, 0) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  transition: all 0.2s;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100px;
}
.header__logo {
  font-size: 32px;
  font-weight: 600;
}
.header__scroll {
  top: -100px;
  transition: all 0.2s;
}

.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.menu__item {
  padding-right: 15px;
}
.menu__item:last-child {
  padding-right: 0;
}
.menu__link {
  font-size: 24px;
}
.menu__link-drop {
  position: relative;
  padding-left: 20px;
}
.menu__link-drop::after, .menu__link-drop::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: rgba(220, 220, 220, 0.75);
  position: absolute;
  top: 15px;
  transition: all 0.3s;
}
.menu__link-drop::before {
  transform: rotate(40deg);
  left: 0;
}
.menu__link-drop::after {
  transform: rotate(-40deg);
  left: 6px;
}
.menu__item:hover .menu__link-drop::before {
  background-color: gainsboro;
  transform: rotate(-40deg);
  transition: all 0.3s;
}
.menu__item:hover .menu__link-drop::after {
  background-color: gainsboro;
  transform: rotate(40deg);
  transition: all 0.3s;
}
.menu__sub-list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  font-size: 24px;
}
.menu__item:hover .menu__sub-list {
  visibility: visible;
  opacity: 1;
}
.menu__sub-link {
  display: block;
  padding-top: 10px;
}

.mobile-back {
  display: none;
}

.burger {
  display: none;
}

@media (max-width: 728px) {
  .header__container {
    min-height: 50px;
  }
  .header__logo {
    font-size: 24px;
    font-weight: 600;
  }
  .header__scroll {
    top: -50px;
  }
  .burger {
    width: 35px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border: none;
    display: block;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #DCDCDC;
  }
  .burger::after {
    top: auto;
    bottom: 0;
  }
  .burger span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    display: inline-block;
    background-color: #DCDCDC;
  }
  .burger__open::before, .burger__open::after {
    background-color: #111111;
    top: 50%;
  }
  .burger__open span {
    opacity: 0;
  }
  .burger__open::before {
    transform: rotate(45deg);
  }
  .burger__open::after {
    transform: rotate(-45deg);
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #111111;
    background-color: #DCDCDC;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .menu__list, .menu__sub-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .menu__item, .menu__sub-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #111111;
  }
  .menu__item:last-child {
    border-bottom: 0px solid #111111;
  }
  .menu__sub-list-item {
    border: none;
    padding: 10px 0 0 0;
  }
  .menu__link {
    font-size: 32px;
    font-weight: 600;
  }
  .menu__item-drop {
    display: flex;
    flex-direction: column;
  }
  .menu__link-drop {
    padding-left: 0;
    padding-bottom: 5px;
  }
  .menu__link-drop::after, .menu__link-drop::before {
    display: none;
  }
  .menu__sub-list {
    position: relative;
    background: #DCDCDC;
    opacity: 1;
    visibility: visible;
  }
  .menu__open {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
  .burger, .burger span, .burger__open::before, .burger__open::after, .menu {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  }
}
main {
  flex: 1 1 auto;
}

.about {
  position: relative;
  min-height: 100vh;
  background-image: url(/source/background/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  font-size: 32px;
  font-weight: 500;
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}
.about__text {
  max-width: 600px;
}
.about__text-title-since {
  display: flex;
  align-items: flex-end;
}
.about__text-block {
  display: block;
}
.about__text-title {
  font-size: 64px;
  font-weight: 600;
}
.about__text-since {
  color: rgba(205, 205, 205, 0.75);
  padding-bottom: 5px;
  padding-left: 10px;
}
.about__text-slogan {
  font-size: 18px;
  color: rgba(205, 205, 205, 0.5);
  text-align: center;
  padding-bottom: 20px;
}
.about__text-description {
  text-align: right;
}

@media (max-width: 728px) {
  .about__text {
    max-width: 400px;
  }
  .about__text-title {
    font-size: 32px;
  }
  .about__text-since {
    font-size: 18px;
  }
  .about__text-slogan {
    font-size: 16px;
  }
  .about__text-description {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .about__text {
    max-width: 300px;
  }
  .about__text-title {
    font-size: 24px;
  }
  .about__text-since {
    font-size: 16px;
    padding-bottom: 2px;
    padding-left: 5px;
  }
  .about__text-slogan {
    font-size: 14px;
  }
  .about__text-description {
    font-size: 16px;
  }
}
.director {
  position: relative;
  min-height: 100vh;
  background-image: url(/source/background/director.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  font-weight: 500;
}
.director__container {
  padding: 200px 20px;
}
.director__content {
  padding-top: 100px;
  display: flex;
}
.director__title {
  font-size: 64px;
  text-align: center;
}
.director__text {
  max-width: 700px;
  max-height: 578px;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-right: 20px;
}
.director__name {
  font-size: 48px;
  text-align: right;
  padding: 40px 40px 0px;
}
.director__description {
  font-size: 32px;
  padding: 40px;
}
.director__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

@media (max-width: 1200px) {
  .director__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .director__text {
    max-width: none;
    max-height: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 728px) {
  .director__container {
    padding: 100px 20px;
  }
  .director__title {
    font-size: 48px;
  }
  .director__text {
    margin-bottom: 20px;
  }
  .director__name {
    font-size: 32px;
    text-align: right;
  }
  .director__description {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .director__container {
    padding: 100px 20px;
  }
  .director__title {
    font-size: 32px;
  }
  .director__name {
    font-size: 24px;
    text-align: right;
    padding: 20px 20px 0px;
  }
  .director__description {
    font-size: 18px;
    padding: 20px;
  }
}
.regalia {
  position: relative;
  background-image: url(../source/background/regalia.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.regalia__container {
  padding: 200px 20px;
}
.regalia__title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
}
.regalia__content {
  margin: 100px 50px 50px;
  overflow: hidden;
}
.regalia__information {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.regalia__video {
  height: 750px;
}
.regalia__video video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.regalia__text {
  max-width: 700px;
  max-height: 620px;
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-left: 20px;
  text-align: right;
}
.regalia__description {
  font-size: 32px;
  padding: 40px;
}

@media (max-width: 1200px) {
  .regalia__container {
    padding: 200px 20px;
  }
  .regalia__content {
    margin: 50px 25px 50px;
    overflow: hidden;
  }
  .regalia__information {
    flex-direction: column-reverse;
    align-items: center;
  }
  .regalia__text {
    margin-bottom: 20px;
  }
  .regalia__video {
    max-width: none;
    max-height: none;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: left;
    width: 700px;
  }
  .regalia__img {
    height: 450px;
    width: 600px;
  }
}
@media (max-width: 728px) {
  .regalia__container {
    padding: 100px 20px;
  }
  .regalia__title {
    font-size: 48px;
  }
  .regalia__description {
    font-size: 24px;
  }
  .regalia__video {
    max-height: 450px;
    width: 100%;
  }
  .regalia__content {
    margin: 25px 25px 50px;
  }
}
@media (max-width: 480px) {
  .regalia__container {
    padding: 100px 20px;
  }
  .regalia__title {
    font-size: 32px;
  }
  .regalia__description {
    font-size: 18px;
    padding: 20px;
  }
  .regalia__video {
    width: 100%;
  }
}
.directions {
  position: relative;
  background-image: url(../source/background/directions.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.directions__container {
  padding: 200px 0;
}
.directions__title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
}
.directions__content {
  margin: 100px 50px 50px;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-direction: row;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  background: rgba(17, 17, 17, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.card__image {
  padding: 0 40px;
}
.card__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.card__image-regalia {
  margin: 30px 0;
}
.card__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 40px 0;
}
.card__description {
  padding: 20px 20px 40px;
  font-size: 24px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 0px;
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  background: #DCDCDC;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.9);
}

@media (max-width: 1200px) {
  .directions__content {
    margin: 100px 25px 50px;
    overflow: hidden;
  }
  .card__image {
    max-width: 400px;
    padding: 0 20px;
  }
}
@media (max-width: 728px) {
  .swiper-button-next, .swiper-button-prev {
    display: none;
    font-size: 0px;
  }
  .card__description {
    font-size: 24px;
  }
  .card__image {
    max-width: 400px;
  }
  .card__description {
    max-width: 400px;
  }
  .directions__title {
    font-size: 48px;
  }
  .directions__container {
    padding: 100px 0;
  }
}
@media (max-width: 480px) {
  .directions__title {
    font-size: 32px;
  }
  .directions__description {
    padding: 20px 20px 20px;
    font-size: 16px;
  }
  .directions__content {
    margin: 25px 0 50px;
  }
  .card__description {
    font-size: 18px;
  }
  .card__description {
    max-width: 400px;
  }
}
.teachers {
  position: relative;
  background-image: url(../source/background/teachers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.teachers__container {
  padding-top: 300px;
  padding-bottom: 200px;
}
.teachers__title {
  padding-bottom: 100px;
  font-size: 64px;
  font-weight: 600;
  text-align: center;
}
.teachers__list {
  display: grid;
  justify-items: stretch;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.teachers__list-item {
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.03, 0.98, 0.52, 0.99);
}
.teachers__list-item:hover {
  background: rgba(205, 205, 205, 0.25);
  transition: all 0.2s cubic-bezier(0.03, 0.98, 0.52, 0.99);
}
.teachers__list-item:active {
  background: rgba(220, 220, 220, 0.25);
  transition: all 0.2s cubic-bezier(0.03, 0.98, 0.52, 0.99);
}
.teachers__item-img {
  padding: 80px 40px 0;
}
.teachers__item-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.teachers__item-description {
  font-size: 32px;
  text-align: center;
  padding: 25px 40px 80px;
}

.teachers-modal {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  position: fixed;
  z-index: 10;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.teachers-modal__container {
  display: flex;
  background-color: rgba(17, 17, 17, 0.4);
  border-radius: 30px;
  padding: 40px;
  margin: 0 15px;
}
.teachers-modal__close {
  color: #DCDCDC;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.3s;
  height: 20px;
  width: 30px;
}
.teachers-modal__close:hover, .teachers-modal__close:focus {
  color: #111111;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.teachers-modal__item-img {
  max-width: 540px;
  max-height: 400px;
}
.teachers-modal__item-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.teachers-modal__text {
  max-width: 600px;
  padding-left: 40px;
}
.teachers-modal__item-name {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 25px;
}
.teachers-modal__item-description {
  font-size: 24px;
}
.teachers-modal__open {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  .teachers__container {
    padding-top: 300px;
    padding-bottom: 300px;
  }
  .teachers__list {
    gap: 20px;
  }
  .teachers__item-img {
    padding: 40px 20px 0;
  }
  .teachers__item-img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  .teachers__item-description {
    font-size: 24px;
    text-align: center;
    padding: 25px 20px 40px;
  }
  .teachers-modal__container {
    padding: 20px;
  }
  .teachers-modal__text {
    max-width: 500px;
    padding-left: 40px;
  }
  .teachers-modal__item-name {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
  }
  .teachers-modal__item-description {
    font-size: 18px;
  }
}
@media (max-width: 728px) {
  .teachers__container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .teachers__title {
    font-size: 48px;
  }
  .teachers__list {
    grid-template-columns: 1fr;
  }
  .teachers-modal__container {
    flex-direction: column-reverse;
  }
  .teachers-modal__text {
    padding-left: 0;
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .teachers__container {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .teachers__title {
    font-size: 32px;
    padding-bottom: 50px;
  }
  .teachers__list {
    grid-template-columns: 1fr;
  }
  .teachers-modal__item-name {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
  }
  .teachers-modal__item-description {
    font-size: 16px;
  }
}
.contacts {
  position: relative;
  background-image: url(../source/background/contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contacts__container {
  padding: 200px 20px;
}
.contacts__wrapper {
  background-color: rgba(17, 17, 17, 0.3);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 50px 25px;
}
.contacts__title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 100px;
}
.contacts__text {
  font-size: 48px;
}
.contacts__address {
  font-size: 32px;
  margin: 25px 0 50px 50px;
}
.contacts__map {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.contacts__map-container {
  max-width: 700px;
  border-radius: 30px;
}
.contacts__phone {
  font-size: 32px;
}

@media (max-width: 1200px) {
  .contacts__container {
    padding: 200px 20px;
  }
  .contacts__title {
    font-size: 64px;
    padding-bottom: 50px;
  }
  .contacts__text {
    font-size: 24px;
  }
  .contacts__address {
    font-size: 24px;
    margin: 25px 0 25px 25px;
  }
  .contacts__map-container {
    max-width: 600px;
  }
  .contacts__phone {
    font-size: 18px;
  }
}
@media (max-width: 728px) {
  .contacts__container {
    padding: 100px 20px;
  }
  .contacts__title {
    font-size: 48px;
  }
  .contacts__text {
    font-size: 18px;
  }
  .contacts__address {
    font-size: 18px;
  }
  .contacts__map-container {
    max-width: 400px;
  }
  .contacts__phone {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .contacts__wrapper {
    padding: 25px 25px;
  }
  .contacts__title {
    font-size: 32px;
  }
  .contacts__address {
    margin: 25px 0;
  }
  .contacts__map-container {
    max-width: 250px;
  }
}
.photo {
  position: relative;
  background-image: url(../source/background/source.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo__container {
  padding: 200px 20px;
}
.photo__title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 100px;
}
.photo__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.photo__list--item {
  text-align: center;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  cursor: pointer;
}
.photo__list--item--text {
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photo__list--item--title {
  font-size: 32px;
  padding-bottom: 25px;
}
.photo__list--item--data {
  font-size: 24px;
}
.photo__sortby {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding-bottom: 50px;
}
.photo__sortby--text {
  font-size: 24px;
  margin-right: 25px;
}
.photo__sortby--dropdown {
  position: relative;
  display: inline-block;
  transition: opacity 0.3s;
}
.photo__sortby--active {
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.photo__sortby--content {
  position: absolute;
  background: rgba(17, 17, 17, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 15px 25px;
  border-radius: 30px;
  min-width: 200px;
  z-index: 10;
  display: none;
}
.photo__sortby--content div {
  cursor: pointer;
  font-size: 18px;
  display: block;
  padding-bottom: 5px;
  transition: all 0.3s;
}
.photo__sortby--content div:hover {
  font-size: 20px;
  transition: all 0.3s;
}
.photo__sortby--dropdown:hover .photo__sortby--content {
  display: block;
}

.gallery {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(17, 17, 17, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.gallery__container {
  background: rgba(17, 17, 17, 0.5);
  border: solid 3px #CDCDCD;
  margin: 200px auto 200px;
  width: 90%;
  border-radius: 30px;
}
.gallery__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  padding: 50px 25px 25px;
}
.gallery__close {
  color: #DCDCDC;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s;
}
.gallery__close:hover, .gallery__close:focus {
  color: #111111;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}
.gallery__content {
  display: grid;
  align-items: start;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 0 25px 25px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.gallery__buttons {
  padding-bottom: 50px;
}
.gallery__buttons--ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__buttons--ul li {
  padding-right: 25px;
  cursor: pointer;
}
.gallery__active {
  font-size: 32px;
  color: #DCDCDC;
}

@media (max-width: 1200px) {
  .photo__container {
    padding: 250px 20px;
  }
  .photo__list {
    grid-template-columns: 1fr 1fr;
  }
  .gallery__content {
    grid-template-columns: 1fr;
  }
  .gallery__buttons--ul li {
    padding-right: 15px;
  }
}
@media (max-width: 728px) {
  .photo__container {
    padding: 150px 20px;
  }
  .photo__title {
    font-size: 48px;
  }
  .photo__list {
    grid-template-columns: 1fr;
  }
  .photo__list--item {
    min-height: 200px;
  }
  .photo__sortby--text {
    font-size: 18px;
  }
  .gallery__text {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .photo__container {
    padding: 100px 20px;
  }
  .photo__title {
    font-size: 32px;
  }
  .photo__list--item--title {
    font-size: 24px;
    padding-bottom: 25px;
  }
  .photo__list--item--data {
    font-size: 18px;
  }
  .photo__sortby--text {
    margin-right: 5px;
  }
  .photo__sortby--active {
    font-size: 18px;
  }
  .photo__sortby--content {
    left: -75px;
    padding: 10px;
  }
}
.video {
  position: relative;
  background-image: url(../source/background/source.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.video__container {
  padding: 200px 20px;
}
.video__title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 100px;
}
.video__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  -moz-column-gap: 25px;
       column-gap: 25px;
  justify-items: center;
}
.video__content iframe {
  width: 100%;
  height: 500px;
  border-radius: 30px;
}

@media (max-width: 1200px) {
  .video__container {
    padding: 250px 20px;
  }
  .video__content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 728px) {
  .video__container {
    padding: 150px 20px;
  }
  .video__title {
    font-size: 48px;
  }
  .video__content iframe {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 480px) {
  .video__container {
    padding: 100px 20px;
  }
  .video__title {
    font-size: 32px;
  }
}
.footer {
  position: relative;
  background-color: #070707;
  font-size: 24px;
}
.footer__container {
  padding: 100px 20px;
}
.footer__container-list {
  display: flex;
}
.footer__container-list-social {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: space-between;
}
.footer__list:first-child {
  padding-right: 100px;
}
.footer__about {
  padding: 15px 0px 0px 25px;
}
.footer__about-link {
  padding-bottom: 5px;
}
.footer__about-link:last-child {
  padding-bottom: 0px;
}
.footer__logo {
  font-size: 32px;
  font-weight: 600;
}
.footer__social {
  display: flex;
}
.footer__social-vk {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/source/icon/vk.png);
  margin-right: 30px;
}
.footer__social-inst {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/source/icon/instagram.png);
}

@media (max-width: 1200px) {
  .footer {
    font-size: 18px;
  }
  .footer__container {
    padding: 50px 20px;
  }
  .footer__list:first-child {
    padding-right: 50px;
  }
  .footer__logo {
    font-size: 24px;
  }
  .footer__social-inst, .footer__social-vk {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .footer {
    font-size: 16px;
  }
  .footer__list:first-child {
    padding-right: 25px;
  }
  .footer__container {
    padding: 25px 20px;
  }
}